<h1>Search Page</h1>
<div ng-controller="SearchController as sc">
  <input ng-model="sc.searchIn" type="text" placeholder="Search" value="">
  <button ng-click="sc.searchOmdb()" type="button" class="btn btn-primary">Submit</button>
  <div class="container row">
   <div ng-repeat="film in sc.movieToDisplay" class="col-md-4">
       <h2>{{film.Title}} <button ng-click="sc.addFavs(film.Title, film.Year, film.Poster, film.imdbID)" class="btn">Add to Favs</button></h2>
       <h3>{{film.Year}}</h3>
       <img ng-src="{{film.Poster}}">
   </div>
</div>
